@import url("https://fonts.googleapis.com/css?family=DotGothic16");
@import url("https://fonts.googleapis.com/css?family=IBM Plex Mono");

$magenty: #c76565ff;
$white: #f5edf7;
$bluey: #536cfe;
$magenty: #df40fb;
$lime: #b0ea00;



//fonts
$dotgothic: 'DotGothic16', serif;
$ibmmono: 'IBM Plex Mono';

html,
body {
  padding: 6px;
  margin: 50;
  font-family: $ibmmono;
}

.myForm {
  background-color: $lime;
  padding: 12px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.button {
  width: 200px;
  padding: 12px;
  border: 2px;
  margin: 12px;
  border-radius: 5px;
  text-align: center;
  background-color: $magenty;
}

.header {
  margin-bottom: 12px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: $magenty;
}

.right {
  padding: 6x 12px;
  text-align:right;
  margin: 12px;
}

// TEXT

h1 {
  font-family: $dotgothic;
  color: $bluey;
}

h2 {
  font-family: $dotgothic;
  color: $magenty;
}

h3 {
  font-family: $ibmmono;
  color: $bluey;
}

p {
  color: wheat;
}

label {
  color: wheat;
}

.subsection {
  text-align: center;
}

.row {
  padding: 6px;
}
.column {
  padding: 12px;
  margin: 12px;
  background-color: $lime;
  border: 2px $bluey;
  border-radius: 5px;
  color: $magenty;
}

nav {
  background-color:$lime;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

  }

  a {
    display: block;
    padding: 6px;
    color: $magenty;
    text-decoration: none;
  }

  a:hover {
    color: $bluey;
  }
}

a {
  color: $lime;
}

a:hover {
  color: $bluey;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: $lime;
    background: black;
  }
}
